<div class="container">
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-8" style="border: 1px solid black;">
            <table>
                <tr>
                    <td><h1>{{userName()}}</h1></td>
                </tr>
                <tr>
                    <td><h3 class="job-title">{{jobTitle}}</h3></td>
                </tr>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <table style="border: 1px solid black;">
                            <tr>
                                <td class="td-icon"><img class="icon" src="/assets/icons/email.png" alt=""></td>
                                <td><h6>{{email}}</h6></td>
                            </tr>
                            <tr>
                                <td class="td-icon"><img class="icon" src="/assets/icons/phone.png" alt=""></td>
                                <td><h6>{{phone}}</h6></td>
                            </tr>
                        </table>

                    </div>
                    <div class="col-md-6">
                        <table style="border: 1px solid black;">
                            <tr>
                                <td class="td-icon"><img class="icon" src="/assets/icons/link.png" alt=""></td>
                                <td><h6>{{socialLink}}</h6></td>
                            </tr>
                            <tr>
                                <td class="td-icon"><img class="icon" src="/assets/icons/location.png" alt=""></td>
                                <td><h6>{{location}}</h6></td>
                            </tr>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-md-4" style="border: 1px solid black; text-align: center;">
            <img class="img-profile" src="/assets/images/image.jpg" alt="Loading...">
        </div>
    </div>
</div>






