<div class="container" style="border: 1px solid black;">
    <br>
    <div class="row">
        <app-header></app-header>
    </div>
    <hr>
    <div class="row" style="border: 1px solid black;">
        <!-- Experience -->
        <div class="col-md-7"><app-experience></app-experience></div>
        <!-- Skills -->
        <div class="col-md-5"><app-skills></app-skills></div>
    </div>
    <hr>
    <div class="row" style="border: 1px solid black;">
        <!-- Education -->
        <div class="col-md-7"><app-education></app-education></div>
        <!-- Projects -->
        <div class="col-md-5"><app-languages></app-languages></div>
    </div>
    <hr>
    <div class="row" style="border: 1px solid black;">
        <!-- Language -->
        <div class="col-md-7"><app-projects></app-projects></div>
        <!-- Certification -->
        <div class="col-md-5"><app-certifications></app-certifications></div>
    </div>
    <br>
</div>

